.btn-action{

	padding:8px 5px;
}
.content-card-licenca{

	background-color:white;
	padding:20px 10px;
}
.img-card-licenca{

	border-radius:50%;
}

.list-info-card-licenca{

	list-style-type:none;
	margin-left:-20px;
	margin-top:5px;
}
.list-info-card-licenca li{

	padding-bottom:10px;
	font-size:16px;
	color:#1c1c1c;
}

.nav-tabs li a.nav-link{

	font-size:16px;
	color:#1c1c1c;
}

/*.nav.nav-tabs .nav-item .nav-link.active{

	font-size:16px;
	color:white !important;
	background-color:#222 !important;
}*/

.ficha-container{

	overflow-y:auto;
}

.ficha-top-content{

	padding-top:50px;
}
.ficha-heade-top{

	text-align:center;
	padding-top:10px;
}
.ficha-heade-img{

	border:1px solid #444;
}